n8n/workflows/wf-export.json
[{"updatedAt":"2026-07-01T00:29:11.760Z","createdAt":"2026-06-30T21:09:30.919Z","id":"wf-01-iuris-actualizacion","name":"WF-01 — Generar Actualización al Cliente","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wf-01-generar-actualizacion","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,304],"webhookId":"34b15132-71e3-42a0-bb2c-a6ea427cc4d7"},{"parameters":{"text":"=Generá una actualización para el caso con ID {{ $json.body.caso_id }}. Usá la herramienta obtener_contexto_caso con {\"caso_id\": {{ $json.body.caso_id }}} para obtener los datos.","options":{"returnIntermediateSteps":false},"credentials":{"openAiApi":{"id":"IA_API_KEY","name":"OpenAI — Iuris IA"}}},"id":"ai-agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[560,304]},{"parameters":{"toolDescription":"Obtiene toda la información de un caso jurídico a partir de su ID, incluyendo datos del cliente, estado, actuaciones, documentos y contexto necesario para generar actualizaciones.","url":"={{ $env.BACKEND_URL }}/api/v1/internal/casos/{{ $('Webhook Trigger').first().json.body.caso_id }}/contexto","sendHeaders":true,"parametersHeaders":{"values":[{"name":"x-internal-secret","valueProvider":"fieldValue","value":"={{ $('Set Internal Secret').first().json.internal_secret }}"}]}},"id":"http-tool-contexto","name":"obtener_contexto_caso","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1,"position":[736,624]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ borrador: $node['AI Agent'].json.output }) }}","options":{}},"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1024,304]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[480,640],"id":"e81bc6ba-fbbd-4d6d-9616-2dfa071b4964","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qO5IlVfLzTenhqWc","name":"OpenAI account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"cd58a62c-92c3-4d62-abdc-8a356803c1bf","name":"internal_secret","value":"={{ $env.N8N_INTERNAL_SECRET }}","type":"string"}]},"options":{}},"id":"set-internal-secret","name":"Set Internal Secret","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,304]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Set Internal Secret","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"obtener_contexto_caso":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Set Internal Secret":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"instanceId":"","templateCredsSetupCompleted":true},"pinData":{},"versionId":"72e340eb-17af-410f-9b33-c86036707987","activeVersionId":"72e340eb-17af-410f-9b33-c86036707987","versionCounter":80,"triggerCount":1,"shared":[{"updatedAt":"2026-06-30T21:09:30.927Z","createdAt":"2026-06-30T21:09:30.927Z","role":"workflow:owner","workflowId":"wf-01-iuris-actualizacion","projectId":"GSq6NxxuSflMdZxC","project":{"updatedAt":"2026-06-30T20:35:54.315Z","createdAt":"2026-06-25T21:28:22.846Z","id":"GSq6NxxuSflMdZxC","name":"Lucas Russo <lucasrusso.dev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"37cb1258-c5ee-4aaa-870b-996d590cd490"}}],"tags":[{"updatedAt":"2026-06-30T20:37:21.511Z","createdAt":"2026-06-30T20:37:21.511Z","id":"bF1wZ2reKE9KJLhT","name":"comunicaciones"}],"activeVersion":{"updatedAt":"2026-07-01T00:29:11.762Z","createdAt":"2026-07-01T00:29:11.762Z","versionId":"72e340eb-17af-410f-9b33-c86036707987","workflowId":"wf-01-iuris-actualizacion","nodes":[{"parameters":{"httpMethod":"POST","path":"wf-01-generar-actualizacion","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,304],"webhookId":"34b15132-71e3-42a0-bb2c-a6ea427cc4d7"},{"parameters":{"text":"=Generá una actualización para el caso con ID {{ $json.body.caso_id }}. Usá la herramienta obtener_contexto_caso con {\"caso_id\": {{ $json.body.caso_id }}} para obtener los datos.","options":{"returnIntermediateSteps":false},"credentials":{"openAiApi":{"id":"IA_API_KEY","name":"OpenAI — Iuris IA"}}},"id":"ai-agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[560,304]},{"parameters":{"toolDescription":"Obtiene toda la información de un caso jurídico a partir de su ID, incluyendo datos del cliente, estado, actuaciones, documentos y contexto necesario para generar actualizaciones.","url":"={{ $env.BACKEND_URL }}/api/v1/internal/casos/{{ $('Webhook Trigger').first().json.body.caso_id }}/contexto","sendHeaders":true,"parametersHeaders":{"values":[{"name":"x-internal-secret","valueProvider":"fieldValue","value":"={{ $('Set Internal Secret').first().json.internal_secret }}"}]}},"id":"http-tool-contexto","name":"obtener_contexto_caso","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1,"position":[736,624]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ borrador: $node['AI Agent'].json.output }) }}","options":{}},"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1024,304]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[480,640],"id":"e81bc6ba-fbbd-4d6d-9616-2dfa071b4964","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qO5IlVfLzTenhqWc","name":"OpenAI account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"cd58a62c-92c3-4d62-abdc-8a356803c1bf","name":"internal_secret","value":"={{ $env.N8N_INTERNAL_SECRET }}","type":"string"}]},"options":{}},"id":"set-internal-secret","name":"Set Internal Secret","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,304]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Set Internal Secret","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"obtener_contexto_caso":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Set Internal Secret":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"Lucas Russo","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-01T00:29:11.854Z","id":45,"workflowId":"wf-01-iuris-actualizacion","versionId":"72e340eb-17af-410f-9b33-c86036707987","event":"activated","userId":"37cb1258-c5ee-4aaa-870b-996d590cd490"},{"createdAt":"2026-07-01T00:29:11.817Z","id":44,"workflowId":"wf-01-iuris-actualizacion","versionId":"72e340eb-17af-410f-9b33-c86036707987","event":"deactivated","userId":"37cb1258-c5ee-4aaa-870b-996d590cd490"}]}}]